


<md-list>
  <md-list-item>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
  </md-list-item>
  <md-list-item>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
  </md-list-item>
    <md-list-item>
    <a [routerLink]="['/dnd']" [routerLinkActive]="['router-link-active']"
     [routerLinkActiveOptions]="{exact:true}">DND</a>
    </md-list-item>
      <md-list-item>
      <a [routerLink]="['/tools']" [routerLinkActive]="['router-link-active']"
     [routerLinkActiveOptions]="{exact:true}">Tools</a>
      </md-list-item>
        <md-list-item>
        <a [routerLink]="['/graph']" [routerLinkActive]="['router-link-active']"
     [routerLinkActiveOptions]="{exact:true}">Graph</a>
        </md-list-item>
</md-list>
