<md-sidenav-container fxFill>
  <md-sidenav #graphDetail mode="over" align="end" [opened]="selectedObject" onclose="exitDetail()">
    <md-toolbar>
      <button md-button type="button" (click)="exitDetail()">
        <md-icon>close</md-icon>
      </button>
      <button md-button type="button">
        <md-icon>delete</md-icon>
      </button>
      <a md-button type="button">
        <md-icon>edit</md-icon>
      </a>


    </md-toolbar>
    <md-tab-group *ngIf="selectedObject">
      <md-tab label="Node Detail">{{selectedObject.nodes}}</md-tab>
      <md-tab label="Other stuff">Content 2</md-tab>
    </md-tab-group>
  </md-sidenav>

  <div fxLayout="row" fxLayoutAlign="start stretch" *ngIf="activeWorkflow">
    <md-card fxFlex="20" class="panel-card">
      <md-card-header>
        <md-card-title><h4>Nuevo workflow</h4></md-card-title>
        <md-card-subtitle>{{activeWorkflow.name}}</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <h4>Herramientas</h4>
        <md-list>


          <md-list-item *ngFor="let tool of tools">
            <md-icon md-list-icon>folder</md-icon>
            <h4 md-line>{{tool.name}}</h4>
            <p md-line> {{tool.cwl}} </p>
            <button md-mini-fab (click)="newStep(tool)">
              <md-icon>add</md-icon>
            </button>
          </md-list-item>

        </md-list>
      </md-card-content>
    </md-card>
    <md-card fxFlex class="panel-card">
      <vis-canvas #visCanvas (clickEvent)="canvasClicked($event)"></vis-canvas>
    </md-card>
  </div>
</md-sidenav-container>

