<md-sidenav-container fxFill>
  <md-sidenav #graphDetail mode="over" align="end" [opened]="selectedObject" onclose="exitDetail()">
    <div *ngIf="selectedObject">
      <step-detail #stepDetail [step]="selectedObject" [isNew]="selectedIsNew" [activeWorkflow]="activeWorkflow" (workflowChange)="updateCanvas($event)"></step-detail>
    </div>
  </md-sidenav>

  <div  [fxLayout]="row" [fxLayout.md]="column" fxLayoutAlign="start stretch" *ngIf="activeWorkflow">


    <md-card fxFlex="20" class="panel-card">
      <md-card-header>
        <md-card-title><h4>Nuevo workflow</h4></md-card-title>
        <md-card-subtitle>{{activeWorkflow.name}}</md-card-subtitle>
        <button md-mini-fab (click)="closeWf()" *ngIf="!activeWorkflow.complete">
          <md-icon>save</md-icon>
        </button>
      </md-card-header>
      <md-card-content *ngIf="!activeWorkflow.complete">
        <h4>Herramientas</h4>
        <md-list>


          <md-list-item *ngFor="let tool of tools">
            <md-icon md-list-icon>folder</md-icon>
            <h4 md-line>{{tool.name}}</h4>
            <p md-line> {{tool.cwl}} </p>
            <button md-mini-fab (click)="newStep(tool)">
              <md-icon>add</md-icon>
            </button>
          </md-list-item>

        </md-list>
      </md-card-content>
    </md-card>


    <md-card fxFlex class="panel-card">
      <vis-canvas #visCanvas (clickEvent)="canvasClicked($event)"></vis-canvas>
    </md-card>
  </div>
</md-sidenav-container>

