.card-content {
  max-height: 150px;
}

.example-card {
  margin: 15px;
}

.selected-tool-content {
  padding: 5%;
}

.cwl-content {
  max-height: 200px;
  width: 100%;
}

.sidenav-container {
  width: 100%;
}

.sidenav-container md-sidenav {
  max-width: 50%;

}


