<md-sidenav-container fxFlex>
  <!--No puedo hacer que ocupe all espacio vertical
  si le pongo el container, y sin el no hay backdrop-->
  <div fxLayout="column">
    <md-card class="example-card">
      <md-card-header>
        <md-card-title><h3>Herramientas disponibles</h3></md-card-title>
      </md-card-header>
      <md-card-content>
        <md-input-container>
          <input mdInput placeholder="Búsqueda..." value="Sushi">
        </md-input-container>
      </md-card-content>

      <md-card-actions>
        <button md-mini-fab (click)="newTool()">
          <md-icon>add</md-icon>
        </button>

      </md-card-actions>
    </md-card>
    <md-card *ngFor="let tool of tools" class="example-card">
      <md-card-header>
        <md-card-title><h4>{{tool.name}}</h4></md-card-title>
        <md-card-subtitle>{{tool.descripcion}}</md-card-subtitle>
      </md-card-header>

      <md-card-actions>
        <a md-button (click)="selectTool(tool)">
          <md-icon>info</md-icon>
        </a>

      </md-card-actions>
    </md-card>
    <span fxFlex></span>
  </div>
  <md-sidenav #detailSideNav mode="over" align="end" (close)="detailSideNavClosed()">

    <tool-detail fxFlex #detailForm (toolsChange)="toolsChanged()"></tool-detail>
  </md-sidenav>

</md-sidenav-container>
